

.button {
    object-fit: cover;
    object-position: center;
    background: transparent;
    &:active {
        filter: hue-rotate(50deg);
    }
    cursor: pointer;
    .button__image {
        object-fit: cover;
        object-position: center;
        max-width: 28px;
    }
}