@use '@packages/shared/src/utils/styles/colorScheme' as colors;

.burgerMenu {
    position: relative;
    z-index: 9;

    .burgerIcon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 2rem;
        height: 2rem;
        background: transparent;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 9999;

        span {
            width: 100%;
            height: 3px;
            background-color: colors.$gray;
            border-radius: 5px;
            transition: all 0.3s linear;
        }

        &.open {
            span:nth-child(1) {
                transform: rotate(45deg) translate(6px, 5px);
            }
            span:nth-child(2) {
                opacity: 0;
            }
            span:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -7px);
            }
        }
    }

    .header__menu {
        position: absolute;
        top: 0;
        right: -20px;
        height: 100vh;
        width: 80vw;
        background-color: colors.$white;
        box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: 3rem 2rem 2rem 2rem;
        z-index: 9998;

        &.menu__open {
            display: flex;
            transform: translateX(-5px) translateY(-8px);
            
        }

        .menu__list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 8px;
        }

        .menu__item {
            display: flex;
            align-items: center;
            width: 70vw;

            .menu__icon {
                width: 2.1rem;
                padding-right: 12px;
                filter: invert(1);
            }

            .menu__link {
                display: inline-block;
                width: 100%;
                font-size: 1.2rem;
                font-weight: 400;
                color: colors.$ashDarkened;
                position: relative;
                line-height: 2rem;

                &::before {
                    content: '';
                    position: absolute;
                    background-color: colors.$yellow;
                    height: 2px;
                    width: 0;
                    bottom: -6px;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: width 100ms ease-in-out;
                }

                &:hover::before {
                    width: 90%;
                }
            }
        }

        .profile {
            display: flex;
            align-items: center;

            .profile__icon {
                border-radius: 50%;
                cursor: pointer;

                img {
                    object-fit: cover;
                    object-position: center;
                    width: 40px;
                }
            }

            .profile__name {
                margin-left: 1rem;

                .profile__naming {
                    font-size: 1rem;
                    color: colors.$gray;
                }
            }
        }
    }
}

.burgerMenu__hr {
    display: block;
    width: 70vw;
    height: 1px;
    background-color: colors.$gray;
    margin-bottom: 12px;
}