@use '@packages/shared/src/utils/styles/colorScheme' as colors;

.header__menu {
    display: flex;
    align-items: center;
    flex-direction: column;

    .menu__list {
        display: flex;
        gap: 1.5rem;
        flex-direction: column;
    }

    .menu__item {
        display: flex;
        align-items: center;


        .menu__icon {
            width: 2rem;
            padding-right: 10px;
        }

        .menu__link {
            font-size: 1rem;
            color: colors.$gray;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                background-color: colors.$yellow;
                height: 2px;
                width: 20px;
                border-radius: 1px;
                bottom: -6px;
                left: 50%;
                transform: translateX(-50%);
                transition: width 50ms ease-in-out;
            }
        }

        .menu__link:hover::before {
            width: 90%;
            transition: width 100ms ease-in-out;
        }
    }
}




.profile {
    margin-left: 2.5rem;
    .profile__icon {
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: colors.$gray;
            left: -18px;
            z-index: 3;
        }
        img {
            object-fit: cover;
            object-position: center;
            width: 40px;
        }
    }

    .profile__name {
        .profile__naming {}
    }
}
