@use '@packages/shared/src/utils/styles/colorScheme' as colors;

.header__search {
    flex: 3.5;
    position: relative;
    width: 100%;

    .button {
        content: '';
        position: absolute;
        object-fit: cover;
        object-position: center;
        right: 8px;
        top: 6px;
        z-index: 5;
        // pointer-events: auto;
        filter: grayscale(100%) brightness(1);
        transition: filter 0.15s ease;
    }

    &:hover .button {
        filter: grayscale(0) brightness(0);
    }

    .search__input {
        padding: 0.5rem 2.3rem 0.5rem 0.5rem;
        font-size: 1rem;
        border: 2px solid colors.$gray;
        border-radius: 5px;
        color: colors.$ashDarkened;
        width: 100%;

        &:focus {
            border-color: colors.$golden;
            outline: none;
        }
    }
}


@media (max-width: 866px) {
    .header__search {
        flex: 8;
    }
}

