@use '@packages/shared/src/utils/styles/colorScheme' as colors;

.menuMom {
    position: relative;

    .menu {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        top: calc(100% + 6px);
        right: 0;
        z-index: 100;

        width: fit-content;
        height: auto;
        border-radius: 10px;
        padding: 2px 18px 2px 2px;
        background-color: colors.$milkish;
        border: 1px solid colors.$gray;
        backdrop-filter: blur(8px);
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.10);
        transition: opacity 0.2s ease, visibility 0.2s ease;

        .option {
            width: 100%;
            white-space: nowrap;
            padding: 8px;
            border-radius: 8px;
            border-left: 1px solid colors.$gray;
            background-color: transparent;
            color: colors.$black;
            cursor: pointer;
            transition: all 0.2s ease;

            &:not(:last-child) {
                margin-bottom: 4px;
            }

            &:hover {
                border-left: 2px solid colors.$yellow;
                padding-left: 10px;
                transform: translateX(6px);
            }
        }
    }

    .open {
        visibility: visible;
        opacity: 1;
    }
}
