@use '@packages/shared/src/utils/styles/colorScheme' as colors;

.header__company {
	display: flex;
	align-items: center;
	margin-right: 24px;

	.company__logo {
		margin-right: 1rem;

		.logo__img {
			width: 30px;
			object-fit: contain;
			transform: rotate(-15deg);
			filter: invert(100%);
			transform-origin: top 20px;
			// видаляємо анімацію тут
		}
	}

	.company__naming {
		display: flex;
		flex-direction: column;
		margin-left: -5px;

		.company__name {
			font-size: 1.5rem;
			color: colors.$white;
		}
	}

	&:hover {
		.logo__img {
			animation: shakeAnimation 2s ease-in-out;
		}
	}
}

@keyframes shakeAnimation {
	0%, 100% {
		transform: rotate(-15deg) translate(0, 0);
	}
	10%, 30%, 50%, 70%, 90% {
		transform: rotate(-13deg) translate(2px, -2px);
	}
	20%, 40%, 60%, 80% {
		transform: rotate(-17deg) translate(-2px, 2px);
	}
}


