@use '@packages/shared/src/utils/styles/colorScheme' as colors;

.header__company {
	display: flex;
	align-items: center;
	margin-right: 24px;

	.company__logo {
		margin-right: 1rem;

		.logo__img {
			width: 30px;
			object-fit: contain;
			transform: rotate(-15deg);
			filter: invert(100%);
		}
	}

	.company__naming {
		display: flex;
		flex-direction: column;
		margin-left: -5px;

		.company__name {
			font-size: 1.5rem;
		}
	}
}