@use '@packages/shared/src/utils/styles/colorScheme' as colors;



.price__input {
    display: inline-block;
    position: relative;
    margin-right: 8px;
    .price__placeholder {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
    }

    .price__enter {
        padding: 8px 4px 8px 3rem;
        border-radius: 8px;
        border: 1px solid colors.$gray;
        &:focus {
            border: 1px solid colors.$golden;
            box-shadow: 0 0 2px colors.$golden;
        }
    }
}