.stage {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    .stage__body {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        max-width: 100%;

        .stage__item {
            flex: 0 0 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .stage__bannerImg {
                width: 100%;
                height: auto;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}