@use '@packages/shared/src/utils/styles/colorScheme' as colors;
@use '@packages/shared/src/utils/styles/mixins/thinScrollbar' as scrollbar;


.orderForm {
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem 2rem 0;
  gap: 2rem;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: colors.$gray transparent;
  @include scrollbar.custom-scrollbar;
  h2 {
    font-size: 24px;
    margin-bottom: 1rem;
    font-weight: 700;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .section {
    background-color: #f9f9f9;
    border-radius: 16px;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
  }

  .gridTwoCols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
  }

  .gridSingle {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .couponButton {
    flex: 1 0;
    height: 40px;
    padding: 8px 16px;
    margin-top: 18px;
    background-color: #ffbe0b;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .couponField {
    animation: slideDown 0.3s ease forwards;
    margin-bottom: 16px;
    flex: 1;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}