@use '@packages/shared/src/utils/styles/colorScheme' as colors;

.header__menu {
    display: flex;
    align-items: center;

    .menu__list {
        display: flex;
        gap: 1.5rem;
    }

    .menu__item {
        display: flex;
        align-items: center;


        .menu__icon {
            width: 2rem;
            padding-right: 10px;
        }

        .menu__link {
            font-size: 1rem;
            color: colors.$white;
            position: relative;
            padding: 0 0 0 4px;

            &::before {
                content: '';
                position: absolute;
                background-color: colors.$yellow;
                height: 2px;
                width: 20px;
                border-radius: 1px;
                bottom: -6px;
                left: 50%;
                transform: translateX(-50%);
                transition: width 50ms ease-in-out;
            }
        }

        .menu__link:hover::before {
            width: 90%;
            transition: width 100ms ease-in-out;
        }
    }
}

@media (max-width: 740px) {
    .header__menu{
        display: none;
    }
}

