@use '@packages/shared/src/utils/styles/colorScheme' as colors;

.buttonTrash{
    display: flex;
    align-items: center;
    cursor: pointer;
    .description {
        color: colors.$ashDarkened;
    }
    .image {
        width: 18px;
        height: 18px;
        filter: invert(0.3);
        object-fit: cover;
        object-position: center;
    }
}