@use '@packages/shared/src/utils/styles/colorScheme' as colors;

.basketSummary{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-height: fit-content;
    align-content: end;
}

.display {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-right: 24px;

    .displayDescription {
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        border-bottom: 1px solid colors.$gray;
    }

    .displayPrice {
        .price {
            font-size: 18px;
            font-weight: bold;
        }
    }

}


