@use '@packages/shared/src/utils/styles/consts' as consts;

.overview{
    margin-bottom: 12px;

    .overview__wrapper {
        max-width: consts.$clientWidth;
        margin: 0 auto;
        padding: 0 16px;
        display: flex;
        flex-wrap: nowrap;
    }
}


