@use '@packages/shared/src/utils/styles/colorScheme' as colors;

.header__tools {
    flex: 2;
    display: flex;
    flex-direction: row-reverse;

    .tools__btn {
        max-width: fit-content;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 0.5rem;
        color: colors.$white;
        font-size: 1rem;
        cursor: pointer;
        margin-left: 20px;

        &:last-child {
            margin-left: 10px;
            display: none;

            @media (max-width: 1069px) {
                margin-left: 30px;
                display: flex;
            }
        }

        @media (max-width: 866px) {
            margin-left: 30px;
        }

        .tool__img {
            width: 24px;
            object-fit: cover;
        }

        &:hover {
            color: colors.$yellow;
        }
    }
}


@media (max-width: 866px) {
    .tools__btn {
        p {
            display: none;
        }
    }
}