@use '@packages/shared/src/utils/styles/colorScheme' as colors;


.filters__group {
    margin-bottom: 1.5rem;

    .filters__title {
        font-size: 1.125em;
        font-weight: 600;
        line-height: 1.125rem;
        margin-bottom: .5rem;
    }

    .filters__container {
        padding-left: 1.5rem;

        .filters__filter {
            .filter__input {
                display: none;
            }

            .filters__option {
                font-size: 1.1em;
                line-height: 1.6rem;

                &:hover {
                    cursor: pointer;
                    color: colors.$golden;
                    transition: all 50ms ease;
                }

            }
        }
    }

}