// ProductPage.module.scss
@use '@packages/shared/src/utils/styles/colorScheme' as colors;

.productPage {
  font-family: sans-serif;
  background: colors.$white;
  color: colors.$black;

  .productContainer {
    max-width: 1440px;
    margin: 0 auto;
    padding: 32px 16px;
  }
}