

.info__block {
    margin-right: 60px;
    max-width: max-content;
    text-wrap: nowrap;
}
.block__title {
    margin-bottom: 20px;
    color: #acacac;
    font-size: 1.6rem;
    font-weight: 400;
}
.block__list {
    line-height: 20px;
    a {
        color: #ffffff;
    }
}
.list__li {

}

@media(max-width: 420px){
    .info__block {
        margin: 0 20px 0 0;
        width: 100%;
        display: block;
    }
    .block__title {
        position: relative;
        display: block;
        width: 200px;
        padding: 5px;
        // &::after {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     height: 24px;
        //     width: 24px;
        //     background-image: url(@packages/shared/src/assets/images/icons/angleDown.png);
        //     background-size: cover;
        //     background-repeat: no-repeat;
        //     background-position: 100%;
        //     filter: invert(0.6);
        // }
    }
    .block__list {
        // display: none;
        margin: 0 0 10px 5px;
        &.info__lis__active {
            display: block;
        }
    }
}