@use '@packages/shared/src/utils/styles/colorScheme' as colors;

.filters__title {
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.125rem;
    margin-bottom: 0.5rem;
}

.colors__palette {
    display: flex;
    flex-wrap: wrap;
}