@use '@packages/shared/src/utils/styles/colorScheme' as colors;
@use '@packages/shared/src/utils/styles/consts' as consts;

.header_second {
    position: sticky;
    background-color: colors.$black;
    color: colors.$white;
    top: -1px;
    margin-bottom: 8px;
    z-index: 8;

    .header__main {
        max-width: consts.$clientWidth;
        width: 100%;
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 50%) minmax(0, 1fr);
        align-items: center;
        padding: 8px 16px;
        margin: 0 auto;

        > :first-child {
            justify-self: start;
        }

        .search {
            width: 100%;
            max-width: 600px;
            justify-self: center;

            @media (max-width: 400px) {
                justify-self: auto;
            }
        }

        > :last-child {
            justify-self: end;
        }
    }
}


