@use '@packages/shared/src/utils/styles/colorScheme' as colors;
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

.popupBar {
    position: relative;
    height: 100vh;
    width: 350px;
    background: colors.$white;
    padding: 30px;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.3);
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

