// ProductPage.module.scss
@use '@packages/shared/src/utils/styles/colorScheme' as colors;

.productPage {
  font-family: sans-serif;
  background: colors.$white;
  color: colors.$black;

  .productContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px 16px;

    .productLayout {
      display: flex;
      flex-direction: column;
      gap: 32px;

      @media (min-width: 1024px) {
        flex-direction: row;
      }
    }



    .productInfo {
      @media (min-width: 1024px) {
        width: 50%;
      }
    }
  }
}