.colorSelection {
    margin-bottom: 24px;

    .colorTitle {
        font-weight: bold;
        margin-bottom: 12px;
        font-size: 16px;

        .selectedColor {
            font-weight: normal;
        }
    }
}