@use '@packages/shared/src/utils/styles/consts' as consts;

.wrapper {
    padding: 0 consts.$clientPadding;
    max-width: consts.$clientWidth;
    width: 100%;
    margin: 0 auto;
    display: flex;
    min-height: 60vh;

    .content {
        flex: 1;
        max-width: calc(consts.$clientWidth - consts.$asideWidth + 8px);
        padding: 12px 0 0 0;
    }
}