@use '@packages/shared/src/utils/styles/colorScheme' as colors;

.selectBlock {
    margin-bottom: 16px;
    flex: 1;
    min-width: 100px;

    label {
        display: block;
        margin-bottom: 4px;
        font-weight: 500;
        font-size: 0.875rem;
    }

    select {
        width: 100%;
        padding: 10px;
        border: 1px solid colors.$gray;
        border-radius: 8px;
    }
}

